h1 {
    color: #8CC6D7;
    font-size: 50px;
    text-align: center;
}

td, th {
    border: 5px solid #34393E;
    padding: 50px 50px 50px 50px;
}

#tableau_jeu {
    background-color: #FFDA8C;
    font-size: 50px;
    margin: auto;
    border-collapse: collapse;
    width: 135px;
    text-align: center;
}

p.resultat {
    text-align: center;
    font-size: 40px;
    color: #34393E;
}

form.form_debut_partie {
    font-size: 30px;
    padding: 10px;
    width: 700px;
    margin: auto;
}