h1 {
    color: #8CC6D7;
    font-size: 50px;
    text-align: center;
}

#tableau_jeu {
    background-color: #FFDA8C;
    font-size: 50px;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}

a.pion {
    text-decoration: none;
}

table td {
    width: 145px;
    height: 145px;
    overflow: hidden;
    white-space: nowrap;
    border: 5px solid #34393E;
}

p.resultat {
    text-align: center;
    font-size: 40px;
    color: #34393E;
}

form.form_debut_partie {
    font-size: 30px;
    padding: 10px;
    width: 700px;
    margin: auto;
}
