<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Nouvelle Partie</title>
</head>
<body>
<form action="" method="POST">
    <p> Choisissez votre symbole : </p>
    <input type="radio" name="joueur" id="joueur" value="X" checked> <label for="X">X</label>
    <input type="radio" name="joueur" id="joueur" value="O"> <label for="O">O</label>

    <p> Qui commence la partie ? </p>
    <input type="radio" name="debut" id="joueur" value="humain" checked> <label for="humain"> Moi</label>
    <input type="radio" name="debut" id="joueur" value="ia"> <label for="ia"> L'ordinateur</label>

    <p>
        <button type="submit">Démarrer la partie</button>
    </p>
</form>
</body>

</html>