<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Nouvelle Partie</title>
    <link rel="stylesheet" href={{ url_for('static',filename = 'css/style.css') }}>
</head>
<body>
<h1> Le jeu du morpion.</h1>
<form class="form_debut_partie" action="" method="POST">
    <p> Choisissez votre symbole : </p>
    <input type="radio" name="joueur" id="joueur" value="X" checked> <label for="X">&#x274C</label>
    <input type="radio" name="joueur" id="joueur" value="O"> <label for="O">&#x1F535</label>

    <p> Qui commence la partie ? </p>
    <input type="radio" name="debut" id="joueur" value="humain" checked> <label for="humain"> Moi</label>
    <input type="radio" name="debut" id="joueur" value="ia"> <label for="ia"> L'ordinateur</label>

    <p>
        <button type="submit">Démarrer la partie</button>
    </p>
</form>
</body>

</html>
